@font-face {
    font-family: "Graphik LC";
    src: url(fonts/graphiklc.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Graphik LC;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo
    {
        cursor: pointer;
    }

    &__navigation
    {
        font-size: 18px;
        line-height: 19.8px;
        display: flex;
        gap: 50px;

        a
        {
            text-decoration: none;
        }

        .navigation-text
        {
            font-weight: 500;
            color: #002033;
        }

        .navigation-text.active
        {
            font-weight: 600;
            color: #0076FE;
        }
    }

    &__buttons
    {
        display: flex;
        gap: 10px;

        .header__start__for__free
        {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1000;

            width: 210px;
            height: 58px;
            border: none;
            color: #fff;
            background-color: #FC0C35;
            cursor: pointer;
            border-radius: 20px;

            font-size: 18px;
            font-weight: 900;
            line-height: 28px;

            .start-ellipse-left
            {
                position: absolute;
                z-index: 0;
                right: 93%;
                top: 70%;
            }

            .start-ellipse-right
            {
                position: absolute;
                z-index: 0;
                left: 93%;
                bottom: 70%;
            }
        }

        .header__signin
        {
            width: 100px;
            height: 58px;
            border: 1px solid rgba(0, 118, 254, 1);
            border-radius: 20px;
            background-color: #fff;
            cursor: pointer;

            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            color: #0076FE;
        }
    }
}

.banner
{
    display: flex;
    width: 1380px;
    height: 656px;
    background-color: #0076FE;
    border-radius: 40px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;

    &__text__block
    {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 40px;
        

        .title-text-up
        {
            font-size: 70px;
            font-weight: 500;
            line-height: 74px;
        }

        .title-text-down
        {
            font-size: 70px;
            font-weight: 700;
            line-height: 74px;
        }

        .main-text
        {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            margin-top: 20px;
        }

        .banner-demo-button
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            position: relative;
            z-index: 1000;

            width: 305px;
            height: 61px;
            border: none;
            color: #fff;
            background-color: #002033;
            border-radius: 20px;
            cursor: pointer;

            font-size: 18px;
            font-weight: 600;
            line-height: 19.8px;

            .button-ellipse-left
            {
                position: absolute;
                z-index: 0;
                left: 95%;
                top: 10%;
            }

            .button-ellipse-right
            {
                position: absolute;
                z-index: 0;
                right: 95%;
                bottom: 10%;
            }
        }

        .banner-calculator-button
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
            z-index: 1000;

            width: 271px;
            height: 62px;
            margin: 0 128%;
            border: none;
            color: #0076FE;
            background-color: #fff;
            border-radius: 15px;
            cursor: pointer;

            font-size: 18px;
            font-weight: 600;
            line-height: 18.9px;

            .calculator-ellipse-left
            {
                position: absolute;
                z-index: 0;
                right: 95%;
                bottom: 10%;
            }

            .calculator-ellipse-right
            {
                position: absolute;
                z-index: 0;
                left: 95%;
                top: 10%;
            }
        }

        .downloads-block
        {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 60px;
            margin-top: 67px;
            margin-left: 30px;

            position: relative;
            z-index: 1000;

            .download-left-ellipse
            {
                position: absolute;
                z-index: 0;
                top: -9%;
                left: -1%;
            }

            .download-right-ellipse
            {
                position: absolute;
                z-index: 0;
                bottom: -25%;
                right: 17%;
            }

            .downloads-title-text
            {
                font-size: 40px;
                font-weight: 700;
                line-height: 24px;
            }

            .downloads-main-text
            {
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }

            .downloads-buttons
            {
                display: flex;
                flex-direction: column;
                gap: 13px;

                .dowbloads-app-store, .dowbloads-google-play
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    width: 177px;
                    height: 55px;
                    border: none;
                    color: #fff;
                    background-color: #0076FE;
                    border-radius: 10px;
                    border: 2px solid #fff;
                    cursor: pointer;

                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }
        }
    }

    &__minnumbers
    {
        position: absolute;
        z-index: 0;
        right: 3%;
    }
}

.slidebar
{
    width: 1380;
    height: 670;
    padding: 30px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    &__header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .slidebar-header-text
        {
            font-size: 40px;
            font-weight: 600;
            line-height: 60px;
            color: #002033;

            .barheader-text
            {
                color: #FC0C35;
            }
        }

        .slidebar-buttons
        {
            display: flex;
            gap: 10px;

            .slidebar-button
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 50%;
                background-color: #E0E0E0;
            }

            .slidebar-button.active
            {
                background-color: #0076FE;
                cursor: pointer;
            }
        }
    }

    &__bars
    {
        display: flex;
        flex-direction: row;
        gap: 24px;

        .slidebar-block
        {
            width: 327px;
            height: 580px;
            border: 1px solid #FC0C35;
            border-radius: 40px;
            position: relative;
            z-index: 1000;

            .slidebar-block-header
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 30px;
                gap: 20px;

                .slidebar-block-title-text
                {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    color: #FC0C35;
                }
            }

            .slidebar-block-content
            {

                .slidebar-content-text
                {
                    display: inline-block;
                    max-width: 282px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #002033;
                    padding-left: 30px;
                }
            }

            .slidebar-content-image
            {
                position: absolute;
                z-index: 0;
                bottom: 59px;
                left: 0;
            }

            .slidebar-content-footer
            {
                width: 327px;
                height: 59px;
                background-color: #FC0C35;
                border-radius: 0px 0px 40px 40px;
                position: absolute;
                z-index: 0;
                bottom: 0;
            }
        }

        .slidebar-block.active
        {
            border: 1px solid #0076FE;

            .slidebar-block-title-text
            {
                color: #0076FE;
            }

            .slidebar-content-footer
            {
                background-color: #0076FE;
            }
        }
    }
}

.whyweblocks
{
    width: 1381px;
    height: 1030px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;

    &__title
    {
        font-size: 40px;
        font-weight: 600;
        line-height: 70px;
        color: #002033;
        text-align: center;
        margin-bottom: 30px;
    }

    &__content
    {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .content-all-blocks
        {
            display: flex;
            gap: 30px;

            .content-block
            {
                display: flex;
                flex-direction: column;
                width: 324px;
                height: 450px;
                border: 1px solid #0076FE;
                border-radius: 40px;
                background-color: #F2F8FF;
                position: relative;
                z-index: 1000;

                .block-header
                {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    padding: 30px;
                    z-index: 1000;

                    .block-header-title
                    {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 30px;
                        color: #0076FE;
                    }
                }

                .block-main-text
                {
                    max-width: 270px;
                    padding: 20px;
                    margin: 0 auto;
                    margin-top: 40px;
                    
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    text-align: center;
                    color: #002033;

                    a
                    {
                        color: #0076FE;
                    }
                }

                .block-one-image
                {
                    position: absolute;
                    z-index: 0;
                }

                .block-three-image
                {
                    position: absolute;
                    z-index: 0;
                    border-radius: 40px 0;
                }

                .block-main-image
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    margin-top: 60px;
                }

                .block-six-image
                {
                    position: absolute;
                    z-index: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 27px;
                }
            }

            .content-block.fixed
            {
                display: flex;
                justify-content: center;
                border: none;
                background-color: #0076FE;

                .block-main-text a
                {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 26px;
                    color: #fff;
                }
            }
        }
    }
}

.pressa
{
    display: flex;
    flex-direction: column;
    width: 1124px;
    height: 401px;
    margin: 0 auto;
    padding: 90px 0;
    text-align: center;
    position: relative;
    z-index: 1000;

    &__content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pressa__title
        {
            font-size: 40px;
            font-weight: 600;
            line-height: 60px;
            color: #002033;
            margin-bottom: 50px;
        }

        .pressa__img
        {
            position: absolute;
            z-index: 0;
            top: 160px;
        }

        .pressa__main__text
        {
            max-width: 864px;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            color: #002033;
            margin-bottom: 40px;
            z-index: 1000;
        }

        .pressa__bottom__text
        {
            width: 143px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border: none;
            background: none;
            cursor: pointer;
            text-decoration: underline;
            margin-bottom: 50px;

            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: #0076FE;
        }
    }

    &__buttons__block
    {
        display: flex;
        justify-content: center;
        gap: 20px;

        .pressa-button
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 57px;
            padding: 15px 30px;
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 17px;
            cursor: pointer;
        }

        .pressa-button.active
        {
            border: 1px solid #0076FE;
        }
    }
}

.effectusing
{
    width: 1360px;
    height: 2185px;
    margin: 0 auto;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1000;

    &__img
    {
        left: -115px;
        top: 5%;
        position: absolute;
        z-index: 0;
    }

    &__title__text
    {
        font-size: 40px;
        font-weight: 600;
        line-height: 75px;
        color: #002033;
        margin-bottom: 40px;
        z-index: 1000;
    }

    &__content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .effectusing__top
        {
            display: flex;
            gap: 130px;
            margin-bottom: 60px;

            .effectusing-top-block
            {
                width: 568px;
                height: 568px;
                border: 10px solid #0076FE;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .top-block-title
                {
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 75px;
                    color: #0076FE;
                    margin: 30px 0 20px 0;
                }

                .top-block-content-all
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .top-block-content
                    {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .top-block-content-circle
                        {
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            background-color: #FC0C35;
                        }

                        .top-block-content-text
                        {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            color: #002033;
                        }
                    }
                }
            }
        }

        .effectusing__center
        {
            display: flex;
            align-items: center;
            gap: 78px;
            margin-bottom: 45px;

            .effectusing-center-block
            {
                width: 724px;
                height: 716px;
                border: 2px solid #0076FE;
                border-radius: 50%;
                background-color: rgba(0, 118, 254, 0.1);
                position: relative;
                z-index: 1000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .effectusing-center-block-second
                {
                    width: 564px;
                    height: 558px;
                    border: 32px solid #0076FE;
                    border-radius: 50%;
                    background-color: #fff;
                    position: absolute;
                    z-index: 2000;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .center-block-title
                    {
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 75px;
                        color: #0076FE;
                        margin: 30px 0 20px 0;
                    }

                    .center-block-content-all
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
    
                        .center-block-content
                        {
                            max-width: 430px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            gap: 20px;

                            .center-block-circle
                            {
                                width: 7px;
                                height: 7px;
                                flex-shrink: 0;
                                border-radius: 50%;
                                background-color: #FC0C35;
                            }
    
                            .center-block-content-text
                            {
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 30px;
                                color: #002033;
                            }
                        }
                    }
                }

                .effectusing-center-image
                {
                    position: absolute;
                    z-index: 2000;
                    right: 18%;
                    bottom: 30%;
                }
            }
        }

        .effectusing__bottom
        {
            display: flex;
            align-items: center;
            gap: 100px;

            .effectusing-bottom-block
            {
                width: 648px;
                height: 648px;
                border-radius: 50%;
                background-color: rgba(0, 118, 254, 0.1);
                position: relative;
                z-index: 1000;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .effectusing-bottom-block-second
                {
                    width: 540px;
                    height: 540px;
                    border-radius: 50%;
                    background-color: #0076FE;
                    position: absolute;
                    z-index: 2000;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .bottom-block-title
                    {
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 75px;
                        color: #fff;
                        margin: 30px 0 20px 0;
                    }

                    .bottom-block-content-all
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
    
                        .bottom-block-content
                        {
                            max-width: 430px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            gap: 20px;

                            .bottom-block-circle
                            {
                                width: 7px;
                                height: 7px;
                                flex-shrink: 0;
                                border-radius: 50%;
                                background-color: #FC0C35;
                            }
    
                            .bottom-block-content-text
                            {
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 30px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.whatcanfaceter
{
    width: 1440px;
    height: 547px;
    margin: 0 auto;

    &__title
    {
        display: flex;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        color: #002033;
        margin-bottom: 60px;
    }

    &__content
    {
        display: flex;
        gap: 40px;

        .whatcanfaceter-content-line
        {
            width: 2px;
            height: 286px;
            background-color: #9C9C9C;
            position: relative;
            z-index: 1000;

            .whatcanfaceter-content-subline-top
            {
                width: 4px;
                height: 120px;
                left: -1px;
                background-color: #0076FE;
                border-radius: 3px;
                position: absolute;
                z-index: 2000;
            }

            .whatcanfaceter-content-subline-center
            {
                display: none;
                width: 4px;
                height: 120px;
                top: 86px;
                left: -1px;
                background-color: #0076FE;
                border-radius: 3px;
                position: absolute;
                z-index: 2000;
            }
        }

        .whatcanfaceter-content-buttons
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-right: 47px;

            .whatcanfaceter-button
            {
                width: 466px;
                height: 66px;
                border: none;
                background-color: #0076FE;
                border-radius: 20px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 16px 30px;
 
                .whatcanfaceter-button-text
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 170.4%;
                    color: #fff;
                }

                .button-text-main
                {
                    display: none;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 170.4%;
                    color: #fff;
                }
            }

            .whatcanfaceter-button.active
            {
                width: 466px;
                height: 117px;
                justify-content: space-between;

                .button-text-main
                {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}

.howtoconnect
{
    width: 1380px;
    height: 467px;
    margin: 0 auto;
    padding-bottom: 120px;

    &__header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .howtoconnect-header-title-text
        {
            font-size: 40px;
            font-weight: 600;
            line-height: 60px;
            color: #002033;
            margin-bottom: 70px;

            .howtoconnect-header-title-text-blue
            {
                color: #0076FE;
            }
        }
    }

    &__content
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;

        .howtoconnect-content-left
        {
            display: flex;
            align-items: center;
            gap: 26px;

            .howtoconnect-content-left-image
            {
                height: 51px;
                margin-bottom: 25%;
            }

            .howtoconnect-content-left-block
            {
                display: flex;
                flex-direction: column;

                .howtoconnect-content-left-text
                {
                    width: 233px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #002033;
                    margin-bottom: 36px;
                }

                .howtoconnect-content-left-button
                {
                    width: 278px;
                    height: 54px;
                    border: none;
                    background-color: #0076FE;
                    border-radius: 15px;
                    cursor: pointer;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                }
            }
        }

        .howtoconnect-content-center
        {
            font-size: 60px;
            font-weight: 900;
            line-height: 60px;
            color: #002033;
            opacity: 3%;
            padding: 0 80px 0 37px;
        }

        .howtoconnect-content-right
        {
            display: flex;
            align-items: center;
            gap: 26px;

            .howtoconnect-content-right-image
            {
                height: 51px;
                margin-bottom: 25%;
            }

            .howtoconnect-content-right-block
            {
                display: flex;
                flex-direction: column;

                .howtoconnect-content-right-text
                {
                    width: 233px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #002033;
                    margin-bottom: 36px;
                }

                .howtoconnect-content-right-button
                {
                    width: 315px;
                    height: 54px;
                    border: none;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 15px;
                    cursor: pointer;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    font-size: 18px;
                    font-weight: 600;
                    color: #0076FE;

                    position: relative;

                    .howtoconnect-content-right-button-warning
                    {
                        position: absolute;
                        right: 2%;
                        top: 2%;
                    }
                }
            }
        }
    }

    &__footer__title
    {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        color: #0076FE;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

    }

    &__footer
    {
        display: flex;
        gap: 62px;

        .howtoconnect-footer-block
        {
            display: flex;
            align-items: center;
            gap: 70px;
        }

        .howtoconnect-footer-left, .howtoconnect-footer-right
        {
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: #0076FE;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}

.ourrates
{
    width: 1381px;
    height: 756px;
    margin: 0 auto;
    padding-bottom: 90px;

    &__header
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .ourrates-header-title
        {
            font-size: 40px;
            font-weight: 600;
            color: #002033;
        }

        .ourrates-header-buttons
        {
            display: flex;
            gap: 20px;

            .ourrates-header-month-buttons
            {
                width: 401px;
                height: 54px;
                border: 1px solid #0076FE;
                border-radius: 18px;
                padding: 5px 5px 5px 20px;
                box-sizing: border-box;

                display: flex;
                align-items: center;
                gap: 20px;

                .ourrates-header-3month
                {
                    width: 243px;
                    height: 44px;
                    border: none;
                    background-color: #fff;
                    cursor: pointer;

                    font-size: 18px;
                    font-weight: 600;
                    color: #0076FE;
                }

                .ourrates-header-12month
                {
                    width: 163px;
                    height: 44px;
                    border: none;
                    background-color: #fff;
                    cursor: pointer;

                    font-size: 18px;
                    font-weight: 600;
                    color: #0076FE;
                }

                .ourrates-header-3month.active
                {
                    width: 243px;
                    height: 44px;
                    border: none;
                    background-color: #0076FE;
                    border-radius: 15px;

                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                }

                .ourrates-header-12month.active
                {
                    width: 163px;
                    height: 44px;
                    border: none;
                    background-color: #0076FE;
                    border-radius: 15px;

                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                }
            }

            .ourrates-header-rate-button
            {
                width: 233px;
                height: 54px;
                border: none;
                background-color: #0076FE;
                border-radius: 18px;
                cursor: pointer;

                font-size: 18px;
                font-weight: 600;
                color: #fff;

                position: relative;
                z-index: 1000;

                .ourrates-header-rate-button-ellipse-left
                {
                    left: 5px;
                    bottom: 5px;
                    position: absolute;
                    z-index: 0;
                }

                .ourrates-header-rate-button-ellipse-right
                {
                    right: 5px;
                    top: 5px;
                    position: absolute;
                    z-index: 0;
                }
            }
        }
    }

    &__content
    {
        display: flex;
        gap: 26px;

        .ourrates-content-block
        {
            display: flex;
            flex-direction: column;
            width: 443px;
            height: 672px;
            border: 1px solid #0076FE;
            border-radius: 30px;

            .ourrates-content-block-header
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 20px;
                background-color: rgba(0, 118, 254, 0.1);
                border-radius: 30px 30px 0 0;
                margin-bottom: 60px;
                
                .ourrates-content-block-header-name
                {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .ourrates-content-block-header-name-title
                    {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #0076FE;
                    }
                }

                .ourrates-content-block-header-time
                {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #0076FE;
                }
            }

            .ourrates-content-block-header.fixed
            {
                background-color: #0076FE;

                .ourrates-content-block-header-time, .ourrates-content-block-header-name-title
                {
                    color: #fff;
                }
            }

            .ourrates-content-block-text
            {
                display: flex;
                align-items: center;
                width: 403px;
                height: 56px;
                padding: 0 20px;
                margin-bottom: 86px;

                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                color: #002033;
            }

            .ourrates-content-block-text.fixed
            {
                margin-bottom: 14px;
            }

            .ourrates-content-block-day-buttons-block
            {
                width: 400px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding: 4px 4px;
                background-color: #0076FE;
                border-radius: 12px;
                margin: 0 0 60px 20px;

                .ourrates-content-block-day-buttons
                {
                    width: 56px;
                    height: 18px;
                    border: none;
                    background-color: #0076FE;
                    cursor: pointer;

                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    color: #fff;
                }

                .ourrates-content-block-day-buttons.active
                {
                    width: 69px;
                    height: 32px;
                    background-color: #fff;
                    border-radius: 10px;
                    color: #002033;
                }
            }

            .ourrates-content-block-list
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 20px;
                margin-bottom: 72px;

                .ourrates-content-block-list-elemetns
                {
                    display: flex;
                    justify-content: space-between;

                    .ourrates-content-block-list-elemetns-text
                    {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        color: #002033;
                    }
                }
            }

            .ourrates-content-block-footer
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;

                .ourrates-content-block-footer-button
                {
                    width: 149px;
                    height: 50px;
                    border: none;
                    background-color: #0076FE;
                    border-radius: 15px;
                    cursor: pointer;

                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;

                    position: relative;
                    z-index: 1000;

                    .ourrates-content-block-footer-button-left
                    {
                        left: 5px;
                        bottom: 5px;
                        position: absolute;
                        z-index: 0;
                    }

                    .ourrates-content-block-footer-button-right
                    {
                        right: 5px;
                        top: 5px;
                        position: absolute;
                        z-index: 0;
                    }
                }

                .ourrates-content-block-footer-text
                {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 24px;
                    color: #002033;
                }
            }

            .ourrates-content-block-footer.fixed
            {
                margin-bottom: 20px;
            }
        }
    }
}

.whycloudvideocam
{
    width: 1380px;
    //height: 700px;
    margin: 0 auto;
    padding-bottom: 90px;

    &__title
    {
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        color: #002033;
        margin-bottom: 30px;

        .whycloudvideocam-title-blue
        {
            color: #0076FE;
        }
    }

    &__content
    {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .whycloudvideocam-content-blocks
        {
            width: 1379px;
            max-height: 365px;
            display: flex;
            flex-direction: column;
            border: 1px solid #0076FE;
            border-radius: 30px;
            padding: 15px 20px;
            cursor: pointer;

            .whycloudvideocam-content-block-top
            {
                font-family: Roboto;
                font-size: 40px;
                font-weight: 500;
                line-height: 150%;
                color: #002033;
                margin-bottom: 7px;
            }

            .whycloudvideocam-content-block
            {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 10px;

                .whycloudvideocam-content-block-button
                {
                    width: 133px;
                    height: 51px;
                    background-color: #fff;
                    border: 1px solid #0076FE;
                    border-radius: 15px;
                    padding: 10px 25px;

                    display: flex;
                    justify-content: center;

                    font-size: 18px;
                    font-weight: 600;
                    line-height: 170%;
                    color: #0076FE;
                }

                .whycloudvideocam-content-block-button.fixed
                {
                    border: 1px solid #FC0C35;
                    color: #FC0C35;
                }

                .whycloudvideocam-content-block-text
                {
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #002033;
                }
            }
        }
    }
}

.reviews
{
    width: 1380px;
    height: 665px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

    &__title
    {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        color: #0076FE;
        margin-bottom: 30px;
    }

    &__subtitle
    {
        font-size: 40px;
        font-weight: 600;
        line-height: 28px;
        color: #002033;
        margin-bottom: 50px;
    }

    &__buttons
    {
        display: flex;
        gap: 20px;
        margin-bottom: 50px;

        .reviews-button-left, .reviews-button-right
        {
            width: 50px;
            height: 50px;
            border: none;
            background-color: #0076FE;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    &__content
    {
        display: flex;
        gap: 30px;

        .reviews-content-block
        {
            width: 390px;
            height: 420px;
            background-color: rgba(0, 118, 254, 0.05);
            border-radius: 40px;
            padding: 50px 30px;
            font-family: Roboto;

            .reviews-content-block-title
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .reviews-content-block-title-name, .reviews-content-block-title-org
                {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 28px;
                    color: #002033;
                }

                .reviews-content-block-title-org
                {
                    color: #000;
                    opacity: 30%;
                }
            }

            .reviews-content-block-center-bottom
            {
                height: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .reviews-content-block-text
                {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                    color: #002033;
                }

                .reviews-content-block-footer
                {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .reviews-content-block-footer-text
                    {
                        font-size: 18px;
                        font-weight: 600;
                        color: #0076FE;
                    }
                }
            }
        }
    }
}